
@media (min-width: 768px){

.d_about_preview{
  height: 100vh;
}

.d_about_parallax{
  z-index: -10;
  position: absolute;
  top: 0;
}

.d_about_title_box{
  position: absolute;
  height: 17vw;
  width: 60vw;
  top: 15vw;
  background: #292929;
  z-index: 0;
  opacity: .7;
}

.d_about_title_text{
  height: auto;
  width: 60vw;
  margin-top: 15vw;
  display: flex;
  align-items: right;
  flex-direction: column;
}

.d_about_title_text h1, .d_about_title_text h3{
  margin: 0;
  z-index: 1;
}

.d_about_title_text h1{
  color: white;
  font-size: 14vw;
  margin: 0 0 0 2vw;
  font-weight: 500;
}

.d_about_title_text h3{
  font-size: 4vw;
  color: #FF5D00;
  font-weight: 500;
  text-align: right;
  margin-top: -4vw;
  margin-right: 3vw;
}

.d_about_sub_title_box{
  margin-top: 2vw;
  position: absolute;
  width: 60vw;
  height: 10vw;
  background: #292929;
  opacity: .7;
  z-index: 0;
}

.d_about_sub_title_text{
  margin-top: 1vw;
  position: absolute;
  color: white;
  font-size: 2.4vw;
  width: 55vw;
  height: auto;
  padding: 0;
  margin-left: 3vw;
  z-index: 1;
}

.d_about_sub_title_text h4{
  font-weight: 400;
}

.d_ufo{
  position: fixed;
  right: 8vw;
  bottom: 8vw;
}
.d_ufo div{
  box-shadow: 0.2vw 0.5vw 0vw 0vw rgba(0,0,0, .4);;
}

.d_main_ufo{
  position: relative;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background: #FF5D00;
  z-index: 1;
}

.d_l_t_ufo{
  position: absolute;
  top: 0;
  left: -1vw;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  background: #898989;
  z-index: 0;
}

.d_l_b_ufo{
  position: absolute;
  bottom: 1vw;
  left: -0.5vw;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  background: #898989;
  z-index: 2;
}

.d_c_c_ufo{
  position: absolute;
  bottom: 4vw;
  right: 3vw;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background: #898989;
  z-index: 2;
}

.d_r_t_ufo{
  position: absolute;
  top: 0;
  right: -1vw;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background: #898989;
  z-index: 0;
}

.d_r_b_ufo{
  position: absolute;
  bottom: 1.5vw;
  right: 0vw;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background: #898989;
  z-index: 0;
}

.d_c_b_ufo{
  position: absolute;
  bottom: -1.2vw;
  right: 3vw;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background: #898989;
  z-index: 2;
}

}

@media (max-width: 768px){
  
  .m_about_content_box{
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
    height: 91vh;
    position: absolute;
    top: 0;
  }

  .m_about_us{
    width: 100vw;
  }

  .m_ufo{
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    z-index: 10;
  }

  .m_main_ufo{
    width: 13vw;
    height: 13vw;
    z-index: 5;
    border-radius: 50%;
    background: #FF5D00;
  }

  .m_ufo div{
    box-shadow: 0px 3px 6px 0px black;
  }

  .m_l_t_ufo{
    width: 4vw;
    height: 4vw;
    z-index: 4;
    position: fixed;
    margin-left: -5vw;
    margin-top: 0.5vh;
    background-color: #898989;
    border-radius: 50%; 
  }

  .m_l_b_ufo{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 6;
    margin-left: -5vw;
    margin-top: 4.5vh;
  }

  .m_r_t_ufo{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 4;
    margin-left: 5vw;
    margin-top: 0vh;
  }

  .m_r_b_ufo{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 4;
    margin-left: 6vw;
    margin-top: 5vh;
  }

  .m_c_b_ufo{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 6;
    margin-left: 2vw;
    margin-top: 6vh;
  }

  .m_c_c_ufo{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 6;
    margin-left: 2.5vw;
    margin-top: 3.5vh;
  }

  .m_about_us section{
    margin: 0 auto;
    height: auto;
    display: flex;
    margin-top: 30vh;
    margin-bottom: 30vh;
    flex-direction: column;
  }

  .m_about_company{
    align-items: center;
    width: 90vw;
  }

  .m_about_us h1{
    color: #FF5D00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 14vw;
    margin: 0;
  }

  .m_about_us h2{
    color: #FF5D00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12vw;
    margin: 0;
  }

  .m_about_us h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: -2vh 0 0 0;
  }

  .m_about_ellipse{
    width: 100%;
    height: 3vh;
    border-radius: 50%;
    background: #D2D2D2;
    margin-top: 4vh;
  }

  .m_about_us p{
    padding: 0;
    margin-top: 5vh;
    color: black;
    position: relative;
    display: block;
    font-size: 5vw;
  }



  .m_about_company p{
    width: 75%;
    text-align: center;
  }

  .m_about_topic p, .m_about_topic h2{
    width: 90vw;
    margin: 0 auto;
  }

  .m_about_topic p{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .m_about_topic{
    position: relative;
    align-items: left;
    width: 100vw;

  }



  .m_about_topic img{
    width: 100vw;
    
    height: auto;
    bottom: 0;
  }

  .m_about_service{
    width: 90vw;
  }

  .m_about_service_types h3{
    color: #FF5D00;
  }

  .m_about_service_types{
    margin-left: 5vw;
    margin-top: 7vh;
  }

  .m_about_service_types>div{
    width: 19vw;
  }

  .m_about_service_types ul{
    list-style-type: disc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1vh;
  }

  .m_about_service_types h3{
    font-size: 7vw;
  }

  .m_about_service_types li{
    color: #FF5D00;
    margin-top: 1vh;
    word-wrap: break-word;
  }

  .m_about_service_types li span{
    color: #3B3B3B;
  }

  .m_about_service_types{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .m_about_service_types img{
    width: 70%;
    height: auto;
    position: absolute;
    right: 0;
  }

  .m_about_services{
    width: 90vw;
    margin: 0 auto;
  }

  .m_about_services_list {
    display: flex;
    justify-content: space-between;
  }

  .m_about_services_list div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .m_about_services_list h3{
    color: #FF5D00;
    font-size: 9vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .m_about_services_list ul{
    list-style-type: disc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1vh;
    color: #FF5D00;
  }

  .m_about_services_list li{
    font-size: 5vw;
    margin-top: 1vh;
  }

  .m_about_services_list li>span{
    color: #3B3B3B;
  }

  .m_about_team{
    width: 90vw;
    align-items: center;
  }

  .m_about_team h2{
    text-align: center;
    margin: 0;
    margin-bottom: 3vh;
  }

  .m_about_team h2 span{
    color: #3B3B3B;
  }

  .m_about_picture_line{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 2vh;
  }

  .m_about_picture{
    width: 48%;
    position: relative;
  }

  .m_about_picture img{
    width: 100%;
    height: auto;
    position: relative;
  }

  .m_about_picture div{
    height: 30%;
    width: 100%;
    background: black;
    opacity: 0.4;
    position: absolute;
    bottom: 1vh;
  }

  .m_about_picture p{
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 10.5%;
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
    font-size: 6vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .m_about_team>p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5.5vw;
  }

  .company_color{
    color: #FF5D00;
  }

  .m_about_join{
    background: #FF5D00;
    height: 35vw;
    width: 35vw;
    border-radius: 50%;
    box-shadow: inset 0 .5vh 1vh black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .m_about_join>p{
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 7vw;
    font-weight: 300;
    margin: 0;
  }

  .m_about_enjoy, .m_about_application{
    width: 90vw;
    align-items: center;
  }

  .m_about_enjoy p, .m_about_application p{
    color: #3B3B3B;
    width: 70vw;
    text-align: left;
    font-size: 6vw;
    margin: 3vh 0 0 0;
  }

  .m_about_enjoy h3, .m_about_application h3{
    font-size: 8vw;
  }


  .m_about_enjoy h4{
    color: #6A6A6A;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
  }

  .m_about_enjoy img{
    width: 100vw;
    height: auto;
    padding-left: 1vw;
  }

  .m_about_application img{
    width: 100vw;
    height: auto;
    margin-top: -15vh;
  }

  .m_about_download{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    width: 90%;
  }

  .m_about_download img{
    width: 48%;
    height: auto;
  }

  /* .m_about_feedback h3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  } */

  .m_about_feedback_title{
    width: 70%;
    position: relative;
    margin: 0 auto;
  }

  .m_about_feedback_title h3{
    font-family: 'Equinox Normal';
    text-align: center;
    font-size: 10vw;
    margin: 0;
  }
  
  .m_about_feedback_title img{
    width: 10vw;
    height: auto;
    position: absolute;
    right: 20%;
    bottom: 1.2vh;
  }

  .m_about_customer_info{
    height: 25vw;
    width: 25vw;
    background: #FF5D00;
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0.3vh 2vw black;
    margin-left: 2vw;
  }

  .m_about_customer_info h4{
    margin: 0;
    font-size: 4vw;
    color: white;
    font-weight: 300;
  }

  .m_about_customer_info p{
    font-size: 2.5vw;
    margin: 0;
    text-align: justify;
    width: 65%;
  }

  .m_about_customer_globus{
    width: 4vw;
  }

  .m_about_customer_img{
    height: 10vw;
    width: 10vw;
    position: absolute;
    right: -2vw;
    top: -1vh;
    border: 0.5vw solid #FF5D00;
    border-radius: 50%;
  }

  .m_about_chat_message{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1vh;
  }

  .m_about_chat_message img{
    width: 10vw;
    margin-left: 2vw;
    height: auto;
  }

  .m_about_message_info{
    display: flex;
    width: 85%;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  .m_about_message_info p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 3vw;
    font-size: 3.5vw;
    color: white;
    font-weight: 300;
  }

.m_about_message_data{
    border-radius: 5vw;
    max-width: 80%;
    box-shadow: 0px 0.3vw 1vw black;
  }

.m_about_message_date{
  margin-right: 2vw;
}

.bg_gray{
  background: #898989;
}

.bg_company_color{
  background: #FF5D00;
}

}


