.about {
  background-size: contain;
  background-repeat: no-repeat;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  position: relative;
  height: 100vh;
}

.dark_gray{
  color: #373737;
}

.again h1 {
  margin-left: -40%;
  z-index: -3;
}

.ring_map {
  width: 100vw;
}

.services > h1 {
  margin: 0;
  margin-left: -45%;
  z-index: -3;
}

.list_text {
  margin-left: -160%;
  z-index: 1;
}

.third_hide {
  z-index: 0 !important;
}

.second_hide {
  z-index: 2 !important;
}

.first_text {
  z-index: 3 !important; 
}

.first_list {
  height: 20vh;
  z-index: 3 !important; 
}

.second_list {
  height: 20vh;
  z-index: 1 !important; 
}

.third_list {
 z-index: -1 !important;
}

.second_text {
  z-index: 1;
}

.third_text {
  z-index: -1;
}

.col {
  vertical-align: top;
}

.hidding_title {
  position: absolute;
  left: -170%;
  top: 0%;
  width: 170%;
  height: 100%;
  background: rgb(41, 41, 41);
  z-index: 4;
}

.hide_row {
  position: absolute;
  background: rgb(41, 41, 41);
  top: 41.6vh;
  height: 50vh;
  width: 100vw;
  z-index: -1;
}

.hide_row_second {
  position: absolute;
  background: rgb(41, 41, 41);
  top: 90vh;
  height: 50vh;
  width: 100vw;
  z-index: -1;
}


#let-e, #let-u, #let-n, #let-x{
  position: relative;
  display: inline-block;
  bottom: 10vh;
  opacity: 0;
  animation: text_appear_top 1s ease-in-out forwards 1s;
}

.example_comp {
  opacity: 0;
  animation: appear 1s ease-in-out forwards 1s;
}

#let-q, #let-i, #let-o{
  position: relative;
  display: inline-block;
  top: 10vh;
  opacity: 0;
  animation: text_bottom_appear 1s ease-in-out forwards 1s;
}


@keyframes text_bottom_appear{
  100%{
    top: 0;
    opacity: 1;
  }
}

@keyframes text_appear_top {
  100%{
    bottom: 0;
    opacity: 1;
  }
}

@keyframes text_appear_about {
  100% {
    margin-left: 0;
  }
}

.description_container {
  padding-left: 2%;
  position: absolute;
  top: 45%;
  left: 0;
  height: 30vh;
  width: 60%;
  transform: translate(0, -50%);
  background: rgba(47,47,47, 0.35);
}

.description {
  margin: 0;
  padding: 0;
  width: 85%;
}

.description h1 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 12vw;
  color: white;
}

.description h3 {
  padding: 0;
  margin-top: -4%;
  float: right;
  font-size: 2.5vw;
  font-weight: normal;
  color: rgb(227, 93, 20);
}

.descrition_small_container {
  padding-left: 2%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25vh;
  width: 60%;
  background: rgba(47,47,47, 0.35);
}

.descrition_small {
  margin: 0;
  padding: 0;
  width: 88%;
}

.descrition_small p {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 2.1vw;
  letter-spacing: 0.5px;
  font-weight: normal;
  opacity: 0;
  animation: appear 1s ease-in-out forwards 1s;
}

.circle_big_about {
  position: fixed;
  right: 5%;
  bottom: 15%;
  animation: about_appear 2s ease-in-out forwards;
  transform: scale(0);
  opacity: 0;
}

.circle_big_about_container{
  position: absolute;
  border-radius: 50%;
  box-shadow: 10px -10px 0px 1px rgba(0, 0, 0, 0.11);
  width: 130px;
  height: 130px;
  background: rgb(227, 93, 20);
}

.atom {
  position: absolute;
  background: rgb(138, 138,138);
  border-radius: 50%;
  box-shadow: 5px -5px 0px 0px rgba(0, 0, 0, 0.11);
  animation: about_appear 1s ease-in-out 1s forwards;
  animation-delay: 2s;
  opacity: 0;
}

.inner_circle_one {
  left: -5%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

.inner_circle_two {
  width: 40%;
  height: 40%;
  right: -5%;
  z-index: -1;
}

.inner_circle_three {
  width: 20%;
  height: 20%;
  bottom: 15%;
  right: 0%;
  z-index: -1;
}

.inner_circle_four {
  width: 30%;
  height: 30%;
  right: 25%;
  bottom: -10%;
}

.inner_circle_five {
  width: 30%;
  height: 30%;
  left: -5%;
  bottom: 15%;
}

@keyframes atom_back_left_anim {
  50% {
    transform: translate(-35%, -35%) scale(.6);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hide_sec{
  100% {
    transform: opacity(0);
  }
}

@keyframes atom_back_right_anim {
  50% {
    transform: translate(35%, -35%) scale(.6);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes atom_back_bottom_anim{
  50% {
    transform: translate(35%, 35%) scale(.6);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes atom_front_bottom_anim{
  50% {
    transform: translate(0%, 35%) scale(1.4);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes front_left_anim {
  50% {
    transform: translate(-35%, -35%) scale(1.4);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
    transform: scale(1);
  }
}





@keyframes about_appear {
  50%{
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.trigered_text {
  animation: appear 1s ease-in-out forwards 1s;
}

.trigered{
  animation: about_appear 1s ease-in-out forwards 1s;
}

.trigered_one {
  animation-delay: .5s;
}

.trigered_two {
  animation-delay: 1s;
}
.trigered_three {
  animation-delay: 1.5s;
}
.trigered_four {
  animation-delay: 2s;
}
.trigered_five {
  animation-delay: 2.5s;
}
.trigered_six {
  animation-delay: 3s;
}
.trigered_seven {
  animation-delay: 3.5s;
}
.trigered_eight {
  animation-delay: 4s;
}


.bg_circle{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(227, 93, 20);
  animation: wave 2s forwards 2s, float 4s ease-in-out infinite;
}

.bg_circle:nth-child(2n){
  width: 80px;
  height: 80px;
}

.bg_circle:nth-child(5n){
  width: 70px;
  height: 70px;
}

.bg_circle:nth-child(3n){
  width: 40px;
  height: 40px;
}

.one{
  top: 50%;
  left: 0%;
}

.two{
  top: 20%;
  left: 10%;
}

.three{
  top: 80%;
  left: 5%;
}

.four {
  top: 55%;
  left: 20%;
}

.five {
  top: 10%;
  left: 25%;
}

.six {
  top: 80%;
  left: 30%;
}

.seven {
  top: 35%;
  left: 35%;
}

.eight {
  top: 0%;
  left: 40%;
}

.nine {
  top: 65%;
  left: 50%;
}

.ten {
  top: 25%;
  left: 50%;
}

.eleven {
  top: 90%;
  left: 60%;
}

.twelve{
  top: -5%;
  left: 65%;
}

.thirteen {
  top: 55%;
  left: 65%;
}

.fourteen {
  top: 25%;
  left: 75%;
}

.fifteen {
  top: 10%;
  left: 90%;
}

.one, .two, .three {
  animation-delay: 0s, 2s;
}

.four, .five, .six {
  animation-delay: .3s, 2s;
}

.seven, .eight {
  animation-delay: .6s, 2s;
}

.nine, .ten {
  animation-delay: .9s, 3s;
}

.eleven, .twelve, .thirteen {
  animation-delay: 1.2s, 3s;
}

.fourteen {
  animation-delay: 1.5s, 4s;
}

.fifteen {
  animation-delay: 1.8s, 4s;
}

@keyframes wave {
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.section {
  position: absolute;
  left: 20%;
  width: 80%;
}

.about_sec{
  top: 100%;
  opacity: 0;
}

.type_text{
  margin-left: -70%;
  z-index: 0;
}

@keyframes appear {
  0%{
    transform: translate(0, 4em);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes title_appear {
  100% {
    height: 70%;
  }
}

.services_sec{
  top: 170%;
  opacity: 0;
}

.services_list {
  top: 240%;
}

.services_list li {
  padding-right: 10vw;
}

.services_list li h1 {
  opacity: 0;
  margin: 0;
  padding-bottom: 1vw;
  font-size: 1.3vw;
  font-weight: 500;
}

.first_ser { 
  padding-right: 20vw;
}

.member_img, .first_row_member_img {
  position: relative;
  z-index: -1 !important;
  bottom: -110% !important;
}

@keyframes show_img {
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.darken_bg *:not(.sidemenu_left){
  opacity: .5;
}

.sidemenu_left {
  z-index: 1000 !important;
}


.darken_bg {
  position: relative;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.11);
  width: 100%;
  height: 100%;
  z-index: 100 !important;
}



/* .list_hide_one {
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 10;
} */


.services_type{
  top: 310%;
  opacity: 0;
}
.team_members{
  left: 10%;
  top: 410%;
}

.career {
  top: 530vh;
  opacity: 1;
}

.offers {
  top: 560vh;
}


.title {
  position: relative;
  font-size: 3vw;
  font-weight: normal;
  color: white;
}


.title_before, .title_before_services, .title_before_type{
  position: absolute;
  height: 0;
  width: 10px;
  bottom: 30%;
  left: -2%;
  margin-right: 10px;
  background: rgb(227, 93, 20);
  z-index: 5;
}

.title_before_list {
  position: absolute;
  height: 0;
  width: 10px;
  bottom: 30%;
  left: -10%;
  margin-right: 10px;
  background: rgb(227, 93, 20);
  z-index: 5;
}

p {
  position: absolute;
  font-size: 2vw;
  padding-right: 30%;
  padding-left: 1%;
  color: white;
}

.services_list {
  position: absolute;
  opacity: 0;
}

.col {
  display: inline-block;
  width: 25%;
}

.service_list{
  font-size: 2vw;
  font-weight: lighter;
}

.col li {
  color: white;
}

.col li {
 position: relative;
}

.start_project {
  position: absolute;
  background-image: url('../media/Lin.svg');
  background-size: cover;
  background-repeat: no-repeat;
  top: 600vh;
  text-align: center;
  width: 100vw;
  letter-spacing: 3vw;
  padding-top: 20vh;
}

.start_project h1 {
  font-weight: 500;
  font-size: 10vw;
  color: rgb(227, 93, 20);
}

.start_project span {
  display: inline-block;
  opacity: 0;
}


.proj_r {
  transform: rotate(-15deg);
  opacity: 0;
}

.proj_e {
  transform: rotate(-15deg) translateY(-2vw);
  font-size: 8vw;
  color: white;
}

.proj_a {
  transform:translate(-2vw, -3vw);
}

.proj_d {
  transform: translate(-2vw, -3vw);
  font-size: 8vw; 
  color: white;
}

.proj_y {
  font-size: 8vw; 
  transform: translate(-2vw, -2vw);
}

.proj_to {
  color: white;
  transform: translate(3vw, -5vw);
  letter-spacing: 0;
}

.start_s {
  transform: rotate(-20deg) translate(7vw, -5vw);
}

.start_t {
  transform: translate(4vw, -8vw);
  color: white;
}

.start_a {
  transform: rotate(-20deg) translate(6vw, -7vw);
}

.start_r {
  transform: rotate(20deg) translate(1vw, -10vw);
  color: white;
}

.start_quest {
  transform: rotate(20deg) translate(0vw, -10vw);
  color: white;
}

@keyframes start_appear_bot {
  0%{
    padding-top: 10vw;
  }
  100%{
    padding-top: 0;
    opacity: 1;
  }
}

@keyframes start_appear_top {
  0%{
    padding-left: 10vw;
  }
  100%{
    padding-left: 0;
    opacity: 1;
  }
}

.grey_circle_about {
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transform: scale(0);
}

.grey_container_about {
  position: absolute;
  height: 180px;
  width: 180px;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transform: translate(-60%, -60%);
  text-align: center;
}

.grey_circle_about p {
  width: 100%;
  padding-top: 30%;
  z-index: 200 !important;
  font-size: 1vw;
  letter-spacing: 0;
}

.start_txt:hover > .grey_container_about > .grey_circle_about, .start_txt_even:hover > .grey_container_about > .grey_circle_about {
  opacity: 0.7;
  transform: scale(.7);
}

.col li .circle_before_li {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: -25px;
  width: 10px;
  height: 10px;
  background: rgb(227, 93, 20);
  border-radius: 50%; 
}


.services_type p{
  font-size: 2vw;
}

.team_container {
  position: absolute;
  top: 380%;
  left: 20%;
  line-height: 60px;
}

.team {
  position: relative;
}


.team h1{
  font-size: 7vw;
  text-align: right;
  padding: 0;
  margin: 0;
  color: white;
}

.our {
  position: absolute;
  top: -30%;
  left: 25%;
}

.team::after{
  position: absolute;
  top: -30%;
  right: -20%;
  content: '';
  width: 30px;
  height: 135%;
  background: rgb(227, 93, 20);
}

.team_members ul{
  margin: 0;
  padding: 0;
}

.team_members li{
  margin: 0;
  display: inline-block;
  width: 20vw;
  height: 20vw;
  padding-right: 50px;
  padding-bottom: 70px;
}

.member_img, .first_row_member_img {
  opacity: 0;
  z-index: -1 !important;
  position: relative;
  background-size: cover !important;
  /* background: url('../media/member.png'); */
  width: 100%;
  height: 100%;
}

.border_bottom {
  position: relative;
  bottom: 0vh;
  left: -2.5%;
  width: 0;
  height: 8px;
  border-radius: 3px;
  background: rgb(138, 138,138);
}

@keyframes border_img {
  100%{
    width: 105%;
  }
}

.member_info {
  position: absolute;
  width: 100%;
  height: 60px;
}

.member_info_text {
  transform: translateY(20vh);
  opacity: 0;
}

.member_info h1 {
  position: relative;
  left: 1vw;
  /* transform: translateX(20px); */
  font-size: 30px;
  color: white;
}

.member_info p {
  position: absolute;
  left: 0vw;
  top: 4vh;
  font-size: 20px; 
  color: rgb(138, 138,138);
}

.circle_before_info {
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  opacity: 0;
  background: rgb(227, 93, 20);
  border-radius: 50%;
}

/* .member_info h1::before {
  position: absolute;
  transform: translate(-20px, 15px);
  content:'';
  width: 10px;
  height: 10px;
  background: rgb(227, 93, 20);
  border-radius: 50%;
} */

/* .disable_scroll {
  overflow: hidden;
} */

.career_text {
  position: absolute;
  opacity: 0;
  width: 60%;
  left: -15%;
}

.join {
  position: absolute;
  bottom: -1vw;
  left: 5vw;
  background: rgb(29, 29, 29);
  border-radius: 25px;
  border: .1vw solid rgb(227, 93, 20);
  padding: .5vw 1vw;
  color: white;
  text-decoration: none;
}

.join:hover {
  background:rgb(227, 93, 20);
}

.join a {
  text-decoration: none;
}

.offers_text {
  position: absolute;
  opacity: 0;
  width: 92%;
  left: -15%;
}

#connection_one {
  position: absolute;
  top: 50%;
  height: 3px;
  left: 0;

}


a{
  text-decoration: none;
}

.join_button {
  opacity: 0;
}

@media (max-width: 768px){
  
  .m_about_content_box{
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    position: absolute;
    top: 0;
  }

  .m_about_us{
    width: 100vw;
  }

  .m_ufo{
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    z-index: 10;
  }

  .m_main_ufo{
    width: 13vw;
    height: 13vw;
    z-index: 5;
    border-radius: 50%;
    background: #FF5D00;
  }

  .m_ufo div{
    box-shadow: 0px 3px 6px 0px black;
  }

  .m_l_t_ufo{
    width: 4vw;
    height: 4vw;
    z-index: 4;
    position: fixed;
    margin-left: -5vw;
    margin-top: 0.5vh;
    background-color: #898989;
    border-radius: 50%; 
  }

  .m_l_b_ufo{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 6;
    margin-left: -5vw;
    margin-top: 4.5vh;
  }

  .m_r_t_ufo{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 4;
    margin-left: 5vw;
    margin-top: 0vh;
  }

  .m_r_b_ufo{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 4;
    margin-left: 6vw;
    margin-top: 5vh;
  }

  .m_c_b_ufo{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 6;
    margin-left: 2vw;
    margin-top: 6vh;
  }

  .m_c_c_ufo{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 6;
    margin-left: 2.5vw;
    margin-top: 3.5vh;
  }

  .m_about_us section{
    margin: 0 auto;
    height: auto;
    display: flex;
    margin-top: 30vh;
    margin-bottom: 30vh;
    flex-direction: column;
  }

  .m_about_company{
    align-items: center;
    width: 90vw;
  }

  .m_about_us h1{
    color: #FF5D00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 14vw;
    margin: 0;
  }

  .m_about_us h2{
    color: #FF5D00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12vw;
    margin: 0;
  }

  .m_about_us h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: -2vh 0 0 0;
  }

  .m_about_ellipse{
    width: 100%;
    height: 3vh;
    border-radius: 50%;
    background: #D2D2D2;
    margin-top: 4vh;
  }

  .m_about_us p{
    padding: 0;
    margin-top: 5vh;
    color: black;
    position: relative;
    display: block;
    font-size: 5vw;
  }



  .m_about_company p{
    width: 75%;
    text-align: center;
  }

  .m_about_topic p, .m_about_topic h2{
    width: 90vw;
    margin: 0 auto;
  }

  .m_about_topic p{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .m_about_topic{
    position: relative;
    align-items: left;
    width: 100vw;

  }



  .m_about_topic img{
    width: 100vw;
    
    height: auto;
    bottom: 0;
  }

  .m_about_service{
    width: 90vw;
  }

  .m_about_service_types h3{
    color: #FF5D00;
  }

  .m_about_service_types{
    margin-left: 5vw;
    margin-top: 7vh;
  }

  .m_about_service_types>div{
    width: 19vw;
  }

  .m_about_service_types ul{
    list-style-type: disc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1vh;
  }

  .m_about_service_types h3{
    font-size: 7vw;
  }

  .m_about_service_types li{
    color: #FF5D00;
    margin-top: 1vh;
    word-wrap: break-word;
  }

  .m_about_service_types li span{
    color: #3B3B3B;
  }

  .m_about_service_types{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .m_about_service_types img{
    width: 70%;
    height: auto;
    position: absolute;
    right: 0;
  }

  .m_about_services{
    width: 90vw;
    margin: 0 auto;
  }

  .m_about_services_list {
    display: flex;
    justify-content: space-between;
  }

  .m_about_services_list div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .m_about_services_list h3{
    color: #FF5D00;
    font-size: 9vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .m_about_services_list ul{
    list-style-type: disc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1vh;
    color: #FF5D00;
  }

  .m_about_services_list li{
    font-size: 5vw;
    margin-top: 1vh;
  }

  .m_about_services_list li>span{
    color: #3B3B3B;
  }

  .m_about_team{
    width: 90vw;
    align-items: center;
  }

  .m_about_team h2{
    text-align: center;
    margin: 0;
    margin-bottom: 3vh;
  }

  .m_about_team h2 span{
    color: #3B3B3B;
  }

  .m_about_picture_line{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 2vh;
  }

  .m_about_picture{
    width: 48%;
    position: relative;
  }

  .m_about_picture img{
    width: 100%;
    height: auto;
    position: relative;
  }

  .m_about_picture div{
    height: 30%;
    width: 100%;
    background: black;
    opacity: 0.4;
    position: absolute;
    bottom: 1vh;
  }

  .m_about_picture p{
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 10.5%;
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
    font-size: 6vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .m_about_team>p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5.5vw;
  }

  .company_color{
    color: #FF5D00;
  }

  .m_about_join{
    background: #FF5D00;
    height: 35vw;
    width: 35vw;
    border-radius: 50%;
    box-shadow: inset 0 .5vh 1vh black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .m_about_join>p{
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 7vw;
    font-weight: 300;
    margin: 0;
  }

  .m_about_enjoy, .m_about_application{
    width: 90vw;
    align-items: center;
  }

  .m_about_enjoy p, .m_about_application p{
    color: #3B3B3B;
    width: 70vw;
    text-align: left;
    font-size: 6vw;
    margin: 3vh 0 0 0;
  }

  .m_about_enjoy h3, .m_about_application h3{
    font-size: 8vw;
  }


  .m_about_enjoy h4{
    color: #6A6A6A;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
  }

  .m_about_enjoy img{
    width: 100vw;
    height: auto;
    padding-left: 1vw;
  }

  .m_about_application img{
    width: 100vw;
    height: auto;
    margin-top: -15vh;
  }

  .m_about_download{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    width: 90%;
  }

  .m_about_download img{
    width: 48%;
    height: auto;
  }

  /* .m_about_feedback h3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  } */

  .m_about_feedback_title{
    width: 70%;
    position: relative;
    margin: 0 auto;
  }

  .m_about_feedback_title h3{
    font-family: 'Equinox Normal';
    text-align: center;
    font-size: 10vw;
    margin: 0;
  }
  
  .m_about_feedback_title img{
    width: 10vw;
    height: auto;
    position: absolute;
    right: 20%;
    bottom: 1.2vh;
  }

  .m_about_customer_info{
    height: 25vw;
    width: 25vw;
    background: #FF5D00;
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0.3vh 2vw black;
    margin-left: 2vw;
  }

  .m_about_customer_info h4{
    margin: 0;
    font-size: 4vw;
    color: white;
    font-weight: 300;
  }

  .m_about_customer_info p{
    font-size: 2.5vw;
    margin: 0;
    text-align: justify;
    width: 65%;
  }

  .m_about_customer_globus{
    width: 4vw;
  }

  .m_about_customer_img{
    height: 10vw;
    width: 10vw;
    position: absolute;
    right: -2vw;
    top: -1vh;
    border: 0.5vw solid #FF5D00;
    border-radius: 50%;
  }

  .m_about_chat_message{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1vh;
  }

  .m_about_chat_message img{
    width: 10vw;
    margin-left: 2vw;
    height: auto;
  }

  .m_about_message_info{
    display: flex;
    width: 85%;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  .m_about_message_info p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 3vw;
    font-size: 3.5vw;
    color: white;
    font-weight: 300;
  }

.m_about_message_data{
    border-radius: 5vw;
    max-width: 80%;
    box-shadow: 0px 0.3vw 1vw black;
  }

.m_about_message_date{
  margin-right: 2vw;
}

.bg_gray{
  background: #898989;
}

.bg_company_color{
  background: #FF5D00;
}

}


