
@media (min-width: 768px){

.d_about{
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  color: white;
}

.d_about_preview, .d_about_services, .d_about_team, .d_about_app{
  position: relative;
  height: auto;
}


.d_about_parallax{
  z-index: -10;
  top: 0;
}

.d_about_title_box{
  position: absolute;
  height: 17vw;
  width: 60vw;
  top: 15vw;
  background: #292929;
  z-index: 0;
  opacity: .8;
}

.d_about_title_text{
  position: absolute;
  height: auto;
  width: 60vw;
  top: 15vw;
  display: flex;
  align-items: right;
  flex-direction: column;
}

.d_about_title_text h1, .d_about_title_text h3{
  margin: 0;
  z-index: 1;
}

.d_about_title_text h1{
  color: white;
  font-size: 14vw;
  margin: 0 0 0 2vw;
  font-weight: 500;
  overflow: hidden;
}

.d_about_title_animation_box h3{
  position: relative;
  overflow: hidden;
  font-size: 4vw;
  color: #FF5D00;
  top: -5vw;
  right: 3vw;
  font-weight: 500;
  text-align: right;
  -webkit-animation-name: text_from_bottom;
  -webkit-animation-duration: 2s;
  animation-name: text_from_bottom;
  animation-duration: 1s; 
}

@-webkit-keyframes text_from_bottom{
  0%{top: 15vw;}
  100%{ top: -5vw;}
}
@keyframes text_from_bottom{
  0%{top: 15vw;}
  100%{ top: -5vw;}
}

.d_about_title_animation_box{
  position: relative;
  overflow-y: hidden;
}

.d_about_from_top, .d_about_from_bottom{
  position: relative;
}

.d_about_from_top{
  top: 0;
  -webkit-animation-name: letter_from_top;
  -webkit-animation-duration: 1s;
  animation-name: letter_from_top;
  animation-duration: 1s; 
}

.d_about_from_bottom{
  bottom: 0;
  -webkit-animation-name: letter_from_bottom;
  -webkit-animation-duration: 1s;
  animation-name: letter_from_bottom;
  animation-duration: 1s; 
}

@-webkit-keyframes letter_from_top{
  0%{top: -15vw;}
  100%{top: 0;}
}
@keyframes letter_from_top{
  0%{top: -15vw;}
  100%{top: 0;}
}
@-webkit-keyframes letter_from_bottom{
  0%{bottom: -20vw;}
  100%{bottom: 0;}
}
@keyframes letter_from_bottom{
  0%{bottom: -20vw;}
  100%{bottom: 0;}
}


.d_about_sub_title_box{
  top: 35vw;
  position: absolute;
  width: 60vw;
  height: 19vw;
  background: #292929;
  opacity: .8;
  z-index: 0;
  overflow: hidden;
}

.d_about_sub_title_text{
  position: absolute;
  top: 33vw;
  width: 55vw;
  height: 10vw;
  overflow: hidden;
  left: 3vw;
  z-index: 1;
}

.d_about_sub_title_text h4{
  opacity: 1;
  display:none;
  margin-top: 3vw;
  font-size: 2.4vw;
  line-height: 3vw;
  overflow: hidden;
}

.d_about_sub_title_animation{
  -webkit-animation-name: sub_text_from_bottom;
  -webkit-animation-duration: 1s;
  animation-name: sub_text_from_bottom;
  animation-duration: 1s; 
}

@-webkit-keyframes sub_text_from_bottom{
  0%{
    opacity: 0;
    margin-top: 10vw;}
  50%{margin-top: 0vw;
      line-height: 10vw;}
  100%{
    opacity: 1;
    line-height: 3vw;}
}
@keyframes sub_text_from_bottom{
  0%{
    opacity: 0;
    margin-top: 10vw;}
  50%{margin-top: 0vw;
      line-height: 10vw;}
  100%{
    opacity: 1;
    line-height: 3vw;}
}

.d_about_sub_title_text h4{
  font-weight: 400;
}

.d_ufo{
  position: fixed;
  right: 8vw;
  bottom: 8vw;
}
.d_ufo div{
  box-shadow: 0.2vw 0.5vw 0vw 0vw rgba(0,0,0, .4);;
}

.d_main_ufo{
  position: relative;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background: #FF5D00;
  z-index: 1;
}



.d_l_t_ufo{
  position: absolute;
  top: 0;
  left: -1vw;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  background: #898989;
  z-index: 0;
}

.d_l_b_ufo{
  position: absolute;
  bottom: 1vw;
  left: -0.5vw;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  background: #898989;
  z-index: 2;
}

.d_c_c_ufo{
  position: absolute;
  bottom: 4vw;
  right: 3vw;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background: #898989;
  z-index: 2;
}

.d_r_t_ufo{
  position: absolute;
  top: 0;
  right: -1vw;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background: #898989;
  z-index: 0;
}

.d_r_b_ufo{
  position: absolute;
  bottom: 1.5vw;
  right: 0vw;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background: #898989;
  z-index: 0;
}

.d_c_b_ufo{
  position: absolute;
  bottom: -1.2vw;
  right: 3vw;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background: #898989;
  z-index: 2;
}

.d_about_services_title_box{
  display: none;
  position: relative;
  height: 4.5vw;
  margin-top: 5vw;
  border-left: 1vw solid #FF5D00;
  padding-left: 2vw;
  margin-left: 20vw;
  overflow: hidden;
}

.d_about_services_title_box_animation{
  -webkit-animation-name: services_column_up;
  -webkit-animation-duration: 0.5s;
  animation-name: services_column_up;
  animation-duration: 0.5s; 
}

@-webkit-keyframes services_column_up{
  0%{height: 0;}
  100%{height: 4.5vw;}
}
@keyframes services_column_up{
  0%{height: 0vw;}
  100%{height: 4.5vw;}
}

.d_about_services_title_box h2{
  display: none;
  position: absolute;
  font-size: 4vw;
  margin: 0;
  line-height: 5vw;
  margin-left: 0vw;
}

.d_abot_services_title_text_animation{
  -webkit-animation-name: show_after_column;
  -webkit-animation-duration: 1s;
  animation-name: show_after_column;
  animation-duration: 1s; 
}

@-webkit-keyframes show_after_column{
  0%{margin-left: -20vw;}
  100%{margin-left: 0vw;}
}
@keyframes show_after_column{
  0%{margin-left: -20vw;}
  100%{margin-left: 0vw;}
}




.d_about_sevices_text_box{
  position: relative;
  width: 55vw;
  height: 18vw;
  margin-left: 23vw;
  overflow: hidden;
}

.d_about_sevices_text_box p {
  display: none;
  position: relative;
  bottom: 0;
  font-size: 2vw;
}

.d_about_sevices_text_box_animation{
  -webkit-animation-name: services_text_from_bottom;
  -webkit-animation-duration: 1.5s;
  animation-name: services_text_from_bottom;
  animation-duration: 1.5s;
}

@-webkit-keyframes services_text_from_bottom{
  0%{bottom: -20vw;}
  100%{bottom: 0;}
}
@keyframes services_text_from_bottom{
  0%{bottom: -20vw;}
  100%{bottom: 0;}
}



.d_about_services_studios{
  display: flex;
  justify-content: space-between;
  width: 55vw;
  margin-left: 20vw;
  margin-top: 5vw;
}

.d_about_services_studio_types li{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 1vw;
}

.d_about_services_studio_types ul>li>span{
  display: none;
  position: relative;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background: #FF5D00;
  margin-right: 1vw;
  margin-left: 2vw; 
  bottom: 0vw;
}

.d_about_services_studio_types h4{
  display:none;
  position: relative;
  margin: 0;
  font-size: 1.5vw;
}

.d_about_services_studio_types li{
  height: 1.5vw;
  overflow: hidden;
}

.studio_types_li_animation{
  -webkit-animation-name: studio_types_li;
  -webkit-animation-duration: 1s;
  animation-name: studio_types_li;
  animation-duration: 1s;
}

@-webkit-keyframes studio_types_li{
  0%{ bottom: -5vw;}
  100%{ bottom: 0vw;}
}
@keyframes studio_types_li{
  0%{ bottom: -5vw;}
  100%{ bottom: 0vw;}
}



.d_about_services_studio_type_box{
  display: none;
  border-left: 1vw solid #FF5D00;
  height: 9vw;
  width: 20vw;
  margin-bottom: 2vw;
  overflow: hidden;

}

.studio_type_column_animation{
  -webkit-animation-name: studio_type_column;
  -webkit-animation-duration: 1s;
  animation-name: studio_type_column;
  animation-duration: 1s;
}

@-webkit-keyframes studio_type_column{
  0%{ height: 0;}
  100%{ height: 9vw;}
}
@keyframes studio_type_column{
  0%{ height: 0;}
  100%{ height: 9vw;}
}

.d_about_services_studio_types h3{
  display: none;
  position: relative;
  margin: 0;
  margin-left: 0vw;
  font-size: 4vw;
  padding-left: 1vw;
}

.studio_type_title_animation{
  -webkit-animation-name: studio_type_title;
  -webkit-animation-duration: 1s;
  animation-name: studio_type_title;
  animation-duration: 1s;
}

@-webkit-keyframes studio_type_title{
  0%{ margin-left: -10vw;}
  100%{ margin-left: 0vw;}
}
@keyframes studio_type_title{
  0%{ margin-left: -10vw;}
  100%{ margin-left: 0vw;}
}


.d_about_services_title_box_lagre{
  margin-left: 5vw;
  margin-top: 5vw;
  padding-left: 2vw;
  overflow: hidden;
  border-left: 1vw solid #FF5D00;
}

.d_about_services_title_box_lagre h2{
  display: none;
  position: relative;
  left: 0vw;
  font-size: 4vw;
  margin: 0;
  line-height: 5vw;
}

.services_title_box_lagre_animation{
  -webkit-animation-name: title_box_lagre_animation;
  -webkit-animation-duration: 2s;
  animation-name: title_box_lagre_animation;
  animation-duration: 2s;
}

@-webkit-keyframes title_box_lagre_animation{
  0%{   line-height: 0vw;
        left: -30vw;}
  50%{  line-height: 5vw;
        left: -30vw;}
  100%{ left: 0vw;}
}
@keyframes title_box_lagre_animation{
  0%{   line-height: 0vw;
    left: -30vw;}
50%{  line-height: 5vw;
    left: -30vw;}
100%{ left: 0vw;}
}

.d_about_services_text_box_lagre{
  position: relative;
  width: 55vw;
  left: 20vw;
  margin-top: 2vw;
  overflow: hidden;
}

.d_about_services_text_box_lagre p{
  visibility: hidden;
  position: relative;
  bottom: 0vw;
  margin: 0;
  font-size: 2vw;
}

.services_text_box_lagre_animation{
  -webkit-animation-name: text_box_lagre_animation;
  -webkit-animation-duration: 2s;
  animation-name: text_box_lagre_animation;
  animation-duration: 2s;
}

@-webkit-keyframes text_box_lagre_animation{
  0%{  bottom: -10vw;}
  100%{ bottom: 0vw;}
}
@keyframes text_box_lagre_animation{
  0%{ bottom: -10vw;}
  100%{ bottom: 0vw;}
}

.d_about_team{
  padding-top: 5vw;
}

.d_about_team_title{
  position: relative;
  visibility: hidden;
  overflow: hidden;
  width: 20vw;
  left: 4vw;
  padding-right: 2vw;
  height: 20vw;
  border-right: 1vw solid #FF5D00;
  margin-bottom: 1vw;
}

.d_about_team_title h2{
  visibility: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 5vw;
  text-align: right;
  line-height: 6vw;
  bottom: 2vw;
}

.team_title_large_text{
  font-size: 8vw;
  line-height: 6vw;
}

.about_team_title_box_animation{
  -webkit-animation-name: team_title_box_animation;
  -webkit-animation-duration: 1s;
  animation-name: team_title_box_animation;
  animation-duration: 1s;
}

@-webkit-keyframes team_title_box_animation{
  0%{  
    height: 0;}
  100%{ height: 20vw;}
}
@keyframes team_title_box_animation{
  0%{
    height: 0;}
  100%{ height: 20vw;}
}

.about_team_title_text_animation{
  -webkit-animation-name: team_title_text_animation;
  -webkit-animation-duration: 1s;
  animation-name: team_title_text_animation;
  animation-duration: 1s;
}

@-webkit-keyframes team_title_text_animation{
  0%{  
    bottom: -15vw;}
  100%{ bottom: 2vw;}
}
@keyframes team_title_text_animation{
  0%{
    bottom: -15vw;}
  100%{ bottom: 2vw;}
}



.d_about_team_line{
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin-left: 4vw;
  overflow-y: visible;
}

.d_about_team_line>.d_about_team_box:nth-child(2n){
  margin-top: 2vw;
}

.d_about_team_box{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: 20vw;
  overflow: hidden;  
}



.d_about_team_box img{
  visibility: hidden;
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: auto;
  bottom: 0vw;
}

.team_box_img_animation{
  -webkit-animation-name: team_box_img_animation;
  -webkit-animation-duration: 1s;
  animation-name: team_box_img_animation;
  animation-duration: 1s;
}

@-webkit-keyframes team_box_img_animation{
  0%{  
    bottom: -30vw;}
  100%{ bottom: 0vw;}
}
@keyframes team_box_img_animation{
  0%{
    bottom: -30vw;}
  100%{ bottom: 0vw;}
}


.d_about_box_underline{
  visibility: hidden;
  position: relative;
  width: 20vw;
  left: 0;
  height: 0.5vw;
  background: #898989;
  border-radius: 1vw;
}

.team_box_underline_animation{
  -webkit-animation-name: team_box_underline_animation;
  -webkit-animation-duration: 2s;
  animation-name: team_box_underline_animation;
  animation-duration: 2s;
}

@-webkit-keyframes team_box_underline_animation{
  0%{  width: 0}
  100%{ width: 20vw}
}
@keyframes team_box_underline_animation{
  0%{  width: 0}
  100%{ width: 20vw}
}

.d_about_box_info{
  margin-top: 0.5vw;
  width: 100%;
  overflow: hidden;
}

.d_about_box_info_job {
  visibility: hidden;
  position: relative;
  display: flex;
  bottom: 0vw;
  justify-content: left;
  align-items: center;
}

.d_about_box_info_job span{
  width: 1vw;
  height: 1vw;
  background: #FF5D00;
  border-radius: 50%;
  margin-right: 0.5vw;
}

.d_about_box_info_job h4{
  font-size: 2vw;
  margin: 0;
}

.d_about_box_info p{
  visibility: hidden;
  position: relative;
  bottom: 0;
  margin: 0;
  margin-left: 1.5vw;
  font-size: 1.5vw;
  color: #5B5B5B;
}

.about_box_info_animation{
  -webkit-animation-name: about_box_info_animation;
  -webkit-animation-duration: 2s;
  animation-name: about_box_info_animation;
  animation-duration: 2s;
}

@-webkit-keyframes about_box_info_animation{
  0%{  bottom: -20vw}
  100%{ bottom: 0vw}
}
@keyframes about_box_info_animation{
  0%{  bottom: -20vw}
  100%{ bottom: 0vw}
}

.d_about_start_text_box{
  width: 35vw;
  margin-left: 4vw;
  margin-top: 10vw;
  margin-bottom: 5vw;
  overflow: hidden;
}

.d_about_start_text_box p{
  visibility: hidden;
  position: relative;
  bottom: 0vw;
  font-size: 2vw;
  margin: 0;
}

.start_text_box_animation{
  -webkit-animation-name: start_text_box_animation;
  -webkit-animation-duration: 2s;
  animation-name: start_text_box_animation;
  animation-duration: 2s;
}

@-webkit-keyframes start_text_box_animation{
  0%{  bottom: -20vw}
  100%{ bottom: 0vw}
}
@keyframes start_text_box_animation{
  0%{  bottom: -20vw}
  100%{ bottom: 0vw}
}


.d_about_start_button{
  font-size: 1.2vw;
  visibility: hidden;
  width: 8vw;
  position: relative;
  margin: 0 auto;
  bottom: 0;
  border: 1px solid #FF5D00;
  border-radius: 2vw;
  padding: 0.6vw 3vw 0.6vw 3vw;
  background: #171717;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-bottom: 1vw;
}
.d_about_start_button:hover{
  background: #FF5D00;
}

.d_about_start_final_text_box{
  width: 55vw;
  margin-left: 4vw;
  overflow: hidden;
}

.d_about_start_final_text_box p{
  visibility: hidden;
  font-size: 2vw;
  position: relative;
  bottom: 0vw;
}

.d_about_application{
}

.d_about_app_box{
  display: flex;
  justify-content: space-between;
  width: 75vw;
  padding-bottom: 10vw;
}

.d_about_app_box_right img{
  width: 100%;
  height: auto;
}

.d_about_download_app{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 5vw auto;
}

.d_about_app_box_left p{
  font-size: 2.5vw;
}

.d_about_app_title_box{
  position: relative;
  left: 15vw;
  margin-bottom: 5vw;
  overflow: hidden;
  visibility: hidden;
  border-left: 1vw solid #FF5D00;
}



.d_about_app h2{
  visibility: hidden;
  margin: 0;
  position: relative;
  left: 0;
  font-size: 4vw;
  font-weight: 300;
  line-height: 3.5vw;
  margin-left: 1vw;
 
}

.d_about_app_title_animation{
  -webkit-animation-name: d_about_app_title_animation;
  -webkit-animation-duration: 2s;
  animation-name: d_about_app_title_animation;
  animation-duration: 2s;
}

@-webkit-keyframes d_about_app_title_animation{
  0%{  line-height: 0vw;
        left: -20vw}
  50%{ line-height: 3.5vw;
        left: -20vw}
  100%{ left: 0vw}
}
@keyframes d_about_app_title_animation{
  0%{  line-height: 0vw;
    left: -20vw}
50%{ line-height: 3.5vw;
    left: -20vw}
100%{ left: 0vw}
}

.d_about_download_app img{
  width: 12vw;
}

.d_about_app_box{
  position: relative;
  left: 4vw;
}

.d_about_app_box_left{
  width: 50%;
  margin-top: 10vw;
}
.d_about_app_text_box{
  overflow: hidden;
}

.d_about_app_text_box p{
  visibility: hidden;
  margin: 0;
  position: relative; 
  bottom: 0vw;
}

.d_about_app_text_animation{
  -webkit-animation-name: d_about_app_text_animation;
  -webkit-animation-duration: 2s;
  animation-name: d_about_app_text_animation;
  animation-duration: 2s;
}

@-webkit-keyframes d_about_app_text_animation{
  0%{  bottom: -20vw;}
  100%{ bottom: 0vw}
}
@keyframes d_about_app_text_animation{
  0%{  bottom: -20vw;}
  100%{ bottom: 0vw}
}

.d_about_app_box_right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.d_about_feedback_box{
  position: relative;
  left: 4vw;
  width: 65vw;
}

.d_about_feedback_title_box{
  position: relative;
  left: 15vw;
  border-left: 1vw solid #FF5D00;
}

.d_about_feedback_sub_title_box{
  position: relative;
  left: 17vw;
}

.d_about_feedback_sub_title_box h4{
  margin: 0;
  color: #353535;
  font-size: 1.5vw;
}

.d_about_feedback_title_box h2{
  margin: 0;
  font-size: 4vw;
  font-weight: 300;
  line-height: 3.5vw;
  margin-left: 1vw;
}

.d_feedback_first{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 0vw;
}

.d_feedback{
  margin-left: 5vw;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 2vw;
}

.d_feedback_main_info{
  display:flex;
  flex-direction: row;
}

.d_feedback_first_circle{
  position: absolute;
  background: #FF5D00;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 5vw;
  box-shadow: 0.3vw 0.3vw 0.5vw black;
}

.d_feedback_first_circle h4{
  margin: 0;

}

.d_feedback_first_circle p{
  margin: 0;
  text-align: center;
  font-size: 1vw;
  color: #242424;
}

.d_feedback_text_first{
  margin: 0;
  margin-left: 11vw;
  background: #FF8100;
  padding: 1vw;
  border-radius: 2vw; 
  font-size: 1.5vw;
  box-shadow: 0.3vw 0.3vw 0.5vw black;
}

.d_about_feedback_list{
  margin-top: 5vw;
}

.d_about_feedback{
  padding-bottom: 10vw;
}

.d_feedback_customer_img{
  position: absolute;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  border: 0.2vw solid #FF8100;
  right: -1vw;
  top: -1vw;
}

.d_feedback_globus{
  position: relative;
  width: 1.5vw;
  height: 1.5vw;
}

.d_feedback_text{
  padding: 1vw;
  font-size: 1.5vw;
  border-radius: 2vw; 
  margin: 0;
  height: 100%;
  margin-top: 0.5vw;
  box-shadow: 0.3vw 0.3vw 0.5vw black;
}

.d_feedback:nth-child(2n+1) .d_feedback_text{
  background: #FF8100;
}

.d_feedback:nth-child(2n) .d_feedback_text{
  background: #898989;
}


.d_feedback_text p{
  margin: 0;
  padding: 0;
}

.d_feedback_cutomer_picture{
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  margin-right: 1vw;
  border: 0.2vw solid #FF8100;
}

.d_feedback_date{
  color: #353535; 
  font-size: 1.5vw;
  margin-left: 2vw;
}

}


@media (max-width: 768px){
  
  .m_about_content_box{
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
    height: 91vh;
    position: absolute;
    top: 0;
  }

  .m_about_us{
    width: 100vw;
  }

  .m_ufo{
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    z-index: 10;
  }

  .m_main_ufo{
    width: 13vw;
    height: 13vw;
    z-index: 5;
    border-radius: 50%;
    background: #FF5D00;
  }

  .m_ufo div{
    box-shadow: 0px 3px 6px 0px black;
  }

  .m_l_t_ufo{
    width: 4vw;
    height: 4vw;
    z-index: 4;
    position: fixed;
    margin-left: -5vw;
    margin-top: 0.5vh;
    background-color: #898989;
    border-radius: 50%; 
  }

  .m_l_b_ufo{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 6;
    margin-left: -5vw;
    margin-top: 4.5vh;
  }

  .m_r_t_ufo{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 4;
    margin-left: 5vw;
    margin-top: 0vh;
  }

  .m_r_b_ufo{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 4;
    margin-left: 6vw;
    margin-top: 5vh;
  }

  .m_c_b_ufo{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 6;
    margin-left: 2vw;
    margin-top: 6vh;
  }

  .m_c_c_ufo{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: #898989;
    position: absolute;
    z-index: 6;
    margin-left: 2.5vw;
    margin-top: 3.5vh;
  }

  .m_about_us section{
    margin: 0 auto;
    height: auto;
    display: flex;
    margin-top: 30vh;
    margin-bottom: 30vh;
    flex-direction: column;
  }

  .m_about_company{
    align-items: center;
    width: 90vw;
  }

  .m_about_us h1{
    color: #FF5D00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 14vw;
    margin: 0;
  }

  .m_about_us h2{
    color: #FF5D00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12vw;
    margin: 0;
  }

  .m_about_us h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: -2vh 0 0 0;
  }

  .m_about_ellipse{
    width: 100%;
    height: 3vh;
    border-radius: 50%;
    background: #D2D2D2;
    margin-top: 4vh;
  }

  .m_about_us p{
    padding: 0;
    margin-top: 5vh;
    color: black;
    position: relative;
    display: block;
    font-size: 5vw;
  }



  .m_about_company p{
    width: 75%;
    text-align: center;
  }

  .m_about_topic p, .m_about_topic h2{
    width: 90vw;
    margin: 0 auto;
  }

  .m_about_topic p{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .m_about_topic{
    position: relative;
    align-items: left;
    width: 100vw;

  }



  .m_about_topic img{
    width: 100vw;
    
    height: auto;
    bottom: 0;
  }

  .m_about_service{
    width: 90vw;
  }

  .m_about_service_types h3{
    color: #FF5D00;
  }

  .m_about_service_types{
    margin-left: 5vw;
    margin-top: 7vh;
  }

  .m_about_service_types>div{
    width: 19vw;
  }

  .m_about_service_types ul{
    list-style-type: disc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1vh;
  }

  .m_about_service_types h3{
    font-size: 7vw;
  }

  .m_about_service_types li{
    color: #FF5D00;
    margin-top: 1vh;
    word-wrap: break-word;
  }

  .m_about_service_types li span{
    color: #3B3B3B;
  }

  .m_about_service_types{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .m_about_service_types img{
    width: 70%;
    height: auto;
    position: absolute;
    right: 0;
  }

  .m_about_services{
    width: 90vw;
    margin: 0 auto;
  }

  .m_about_services_list {
    display: flex;
    justify-content: space-between;
  }

  .m_about_services_list div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .m_about_services_list h3{
    color: #FF5D00;
    font-size: 9vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .m_about_services_list ul{
    list-style-type: disc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1vh;
    color: #FF5D00;
  }

  .m_about_services_list li{
    font-size: 5vw;
    margin-top: 1vh;
  }

  .m_about_services_list li>span{
    color: #3B3B3B;
  }

  .m_about_team{
    width: 90vw;
    align-items: center;
  }

  .m_about_team h2{
    text-align: center;
    margin: 0;
    margin-bottom: 3vh;
  }

  .m_about_team h2 span{
    color: #3B3B3B;
  }

  .m_about_picture_line{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 2vh;
  }

  .m_about_picture{
    width: 48%;
    position: relative;
  }

  .m_about_picture img{
    width: 100%;
    height: auto;
    position: relative;
  }

  .m_about_picture div{
    height: 30%;
    width: 100%;
    background: black;
    opacity: 0.4;
    position: absolute;
    bottom: 1vh;
  }

  .m_about_picture p{
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 10.5%;
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
    font-size: 6vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .m_about_team>p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5.5vw;
  }

  .company_color{
    color: #FF5D00;
  }

  .m_about_join{
    background: #FF5D00;
    height: 35vw;
    width: 35vw;
    border-radius: 50%;
    box-shadow: inset 0 .5vh 1vh black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .m_about_join>p{
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 7vw;
    font-weight: 300;
    margin: 0;
  }

  .m_about_enjoy, .m_about_application{
    width: 90vw;
    align-items: center;
  }

  .m_about_enjoy p, .m_about_application p{
    color: #3B3B3B;
    width: 70vw;
    text-align: left;
    font-size: 6vw;
    margin: 3vh 0 0 0;
  }

  .m_about_enjoy h3, .m_about_application h3{
    font-size: 8vw;
  }


  .m_about_enjoy h4{
    color: #6A6A6A;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
  }

  .m_about_enjoy img{
    width: 100vw;
    height: auto;
    padding-left: 1vw;
  }

  .m_about_application img{
    width: 100vw;
    height: auto;
    margin-top: -15vh;
  }

  .m_about_download{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    width: 90%;
  }

  .m_about_download img{
    width: 48%;
    height: auto;
  }

  /* .m_about_feedback h3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  } */

  .m_about_feedback_title{
    width: 70%;
    position: relative;
    margin: 0 auto;
  }

  .m_about_feedback_title h3{
    font-family: 'Equinox Normal';
    text-align: center;
    font-size: 10vw;
    margin: 0;
  }
  
  .m_about_feedback_title img{
    width: 10vw;
    height: auto;
    position: absolute;
    right: 20%;
    bottom: 1.2vh;
  }

  .m_about_customer_info{
    height: 25vw;
    width: 25vw;
    background: #FF5D00;
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0.3vh 2vw black;
    margin-left: 2vw;
  }

  .m_about_customer_info h4{
    margin: 0;
    font-size: 4vw;
    color: white;
    font-weight: 300;
  }

  .m_about_customer_info p{
    font-size: 2.5vw;
    margin: 0;
    text-align: justify;
    width: 65%;
  }

  .m_about_customer_globus{
    width: 4vw;
  }

  .m_about_customer_img{
    height: 10vw;
    width: 10vw;
    position: absolute;
    right: -2vw;
    top: -1vh;
    border: 0.5vw solid #FF5D00;
    border-radius: 50%;
  }

  .m_about_chat_message{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1vh;
  }

  .m_about_chat_message img{
    width: 10vw;
    margin-left: 2vw;
    height: auto;
  }

  .m_about_message_info{
    display: flex;
    width: 85%;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  .m_about_message_info p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 3vw;
    font-size: 3.5vw;
    color: white;
    font-weight: 300;
  }

.m_about_message_data{
    border-radius: 5vw;
    max-width: 80%;
    box-shadow: 0px 0.3vw 1vw black;
  }

.m_about_message_date{
  margin-right: 2vw;
}

.bg_gray{
  background: #898989;
}

.bg_company_color{
  background: #FF5D00;
}

}


