.blog {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif !important;
}

.blog_upper {
  position: absolute;
  top: 0;
  left: 50%;
  width: 70%;
  height: 25%;
  transform: translateX(-50%);
}

.blog_upper .choose {
  position: absolute;
  top: 15%;
  left: 0%;
  vertical-align: text-bottom;
  font-size: 9vw;
  color: rgb(270, 92, 20);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.blog_upper .theme {
  position: absolute;
  left:55%;
  top: -21%;
  font-size: 14vw;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.middle_upper {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 18%;
  top: 35%;
  width: 65%;
  transform: translateY(-40%);
}

.middle_upper ul {
  margin: 0;
  padding: 0;
}

.middle_upper ul li {
  display: inline-block;
  font-size: 10vw;
  width: 50%;
  font-weight: 600;
  color: white;
}

.middle_upper_line {
  position: absolute;
  top: 19%;
  transform: translateX(-3vw);
  height: 55%;
  width: 3%;
  background: rgb(270, 92, 20);
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6vw;
  transform: translate(-50%, -40%);
  color: white;
}

.middle h1 {
  font-weight: 600;
}

.middle_line {
  position: absolute;
  top: 37%;
  transform: translateX(-3vw);
  height: 29%;
  width: 8%;
  background: rgb(270, 92, 20);
}

.middle_lower .middle_line{
  position: absolute;
  top: 37%;
  transform: translateX(-3vw);
  height: 29%;
  width: 6%;
  background: rgb(270, 92, 20);
}

.middle_lower {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6vw;
  transform: translate(-50%, 0%);
  color: white;
}

.middle_lower h1 {
  font-weight: 600;
}
