.contacts {
  overflow: scroll !important;
  position: relative;
  background-image: url('../media/contacts.png'); 
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.ring {
  position: absolute;
  width: 70%;
  left: 15%;
  top: -2%;
  -webkit-box-shadow: 10px -5px 0px 0px rgba(0,0,0,0.2), inset 10px -9px 0px 0px rgba(0,0,0,0.2);;
  -moz-box-shadow: 10px -5px 0px 0px rgba(0,0,0,0.2), inset 10px -9px 0px 0px rgba(0,0,0,0.2);;
  box-shadow: 10px -5px 0px 0px rgba(0,0,0,0.2), inset 10px -9px 0px 0px rgba(0,0,0,0.2);
  padding-top: 70%;
  height: auto;
  border: 12px solid rgb(270, 92, 29);
  border-radius: 50%;
}

.ring_text {
  position: absolute;
  top: 50%;
  right: 58%;
  transform: translateY(-50%);
  text-align: right;
  line-height: 11vh;
}

.are_span{
  position: absolute;
  left: 61%;
  color:rgb(270, 92, 20);
  font-size:5vw;
}

.we_span {
  position: absolute;
  left: 38%;
}

.ring_text h1 {
  text-shadow: rgba(0, 0, 0, 0.2) 7px -7px;
  color: white;
  font-size: 10vw;
  font-weight: 500;
}

.h1_container {
  position: absolute;
  width: 20%;
  height: 4%;
  background: rgba(0, 0, 0, 0.2);
  top: 47%;
  left: 50%;
  border-radius: 15px;
}

.h1_container h1{
  position: absolute;
  top: -3vh;
  left: 6%;
  font-size: 1.8vw;
  color: rgb(270, 92, 20);
  font-weight: 300;
}

.contact_info p{
  position: absolute;
  width: 12%;
  top: 48%;
  left: 50%;
  font-size: 1.3vw;
}

.contact_info p::before {
  content: '';
  position: absolute;
  top: 10%;
  left: -1%;
  width: 1vw;
  height: 2vh;
  background: rgb(270, 92, 20);
  border-radius: 50%;
}

.contacts_address {
  position: absolute;
  width: 100vw;
  height: 50vh;
  top: 180%;
  background: rgb(41, 41, 41);
  z-index: 2;
}

.contacts_address_info {
  position: absolute;
  width: 50vw;
  height: 35vh;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.contacts_address_info h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  font-size: 2vw;
  color: white;
}

.contacts_address_info .info_underline {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border-radius: 2px;
  height: 3px;
  background: rgb(270, 92, 20);
}

.contacts_address_bottom {
  position: absolute;
  width: 100vw;
  height: 50vh;
  top: 230%;
}

.address_info {
  position: absolute;
  top: 45%;
  width: 15vw;
  height: 20vh;
}

.right {
  top: 18vh;
  left: 32vw;
  width: 50%;
  line-height: 6vh;
}

.left{
  left: 8%;
}

.left h3 {
  font-size: 1.3vw;
  font-weight: 600;
  color: white;
  line-height: 5vh;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 10vh;
}

.left a {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1.3vw;
}

.map {
  display: inline-block;
  position: absolute;
  bottom: 1.5vh;
  left: 7vw;
  content: '';
  width: 5vw;
  height: .3vh;
  background: rgb(270, 92, 20);
  border-radius: 5px;
}

.right h3 {
  font-size: 1.2vw;
  font-weight: 600;
  color: white;
  line-height: 15vh;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 5vh;
}

.address_info_circle {
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 15vw;
  height: 15vw;
  background: rgb(270, 92, 20);
  border-radius: 50%;
  -webkit-box-shadow: 10px -5px 0px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px -5px 0px 0px rgba(0,0,0,0.2);
  box-shadow: 10px -5px 0px 0px rgba(0,0,0,0.2);
}

.address_info_circle ul {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.address_info_circle li {
  padding-bottom: 1vw;
  text-align: center;
}

.address_info_circle a {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 0;
  padding: 5px;
  color: white;
  font-size: 1.2vw;
  font-weight: 500;
}

.contacts_address_bottom_text {
  position: absolute;
  top: 40%;
  left: 3%;
  width: 56vw;
  height: 120px;
}

.contacts_address_bottom_text h3 {
  font-size: 2vw;
  font-weight: 400;
  color: white;
}

.contacts_address_bottom_text::before {
  content: '';
  position: absolute;
  width: 53%;
  height: 8px;
  border-radius: 5px;
  background: rgb(270, 92, 20);
}