<<<<<<< HEAD


@media (max-width: 768px){

  input, textarea, button{
    outline:none;
  }

  .m_start_project{
    height: 100vh;
    width: 100vw;
    position: absolute;
    border: 1px solid green;
    overflow-y: scroll;
  }

  .m_start_project h1{
    font-size: 7vw;
    font-weight: 500;
    color: #424242;
    width: 80%;
    margin: 15vw auto 2vw;
  }

  .m_start_project p{
    position: relative;
    color: #424242;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    font-size: 3.8vw;
  }

  .m_form_start_project{
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m_form_start_project input{
  width: 35vw;
  font-size: 5vw;
  background: transparent;
  border: 0;
}

.m_start_project_input_line{
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 15vw;
}

.input_underline_box{
  display: flex;
  flex-direction: column;
  height: auto;
}

.input_underline{
  width: 35vw;
  height: 1vw;
  background: #FF5D00;
  border-radius: 1vw;
}

.m_start_project_description h3{
  color: #424242;
  font-weight: 500;
}

.m_start_project_description{
  position: relative;
}

.m_start_project_description textarea{
  border: 0;
  width: 80vw;
  height: 30vw;
  background: transparent;
  font-size: 4vw;
  color: #424242;
  font-family: Arial, Helvetica, sans-serif;
}

.m_textarea_write_here{
  position: absolute;
  z-index: -1;
  top: 25vw;
  left: 5vw;
  font-size: 15vw;
  color: #CCCCCC;
  transform: rotate(-15deg);
}

.m_button_send{
  font-size: 10vw;
  position: absolute;
  left: 0;
  top: 60vw;
  padding: 0;
  background: transparent;
  border: 0;
  line-height: 7vw;
  padding-right: 1vw;
  border-right: 2vw solid #FF5D00;
}

}
=======
/* .join_crew_text {
  position: absolute;
  top: 18%;
  left: 10%;
  width: 100%;
}

.join_crew_text h1 {
  font-size: 5vw;
  font-weight: 500;
  color: white;
  margin: 0;
  line-height: 9vh;
}

.join_crew_text p {
  margin: 0;
  padding: 0;
}

#join_form {
  position: absolute;
  left: 10%;
  top: 45%;
  width: 48%;
}

#join_form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#join_form ul li {
  position: relative;
  display: block;
  margin-bottom: 7%;
}

#join_form ul li .field-split{
  width: 50%;
}

#join_form ul li input.align-left {
  float: left;
  width: 48%;
}

#join_form ul li input.align-right {
  float: right;
  width: 39%;
}



#join_form input {
  padding: 7px;
  background: rgba(270, 92, 20, 0.5);
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 20px;
}

#join_form label {
  color: white;
  font-size: 20px;
  margin-left: 1%;
}

#join_form textarea {
  margin-top: 1%;
  margin-bottom: 5%;
  cursor: none;
  position: relative;
  background: rgba(270, 92, 20, 0.5);
  border: none;
  border-radius: 50px;
  width: 100%;
  resize: none;
  color: white;
}

#join_form textarea::placeholder {
  padding-top: 5%;
  text-align: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
}

#join_form input[type="submit"] {
  width: 20%;
}

.circle_send {
  position: absolute;
  width: 35px;
  height: 35px;
  background: rgb(270, 92, 20);
  border-radius: 50%;
}

.join_exit {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 5vw;
  height: 5vw;
  border: 3px solid rgb(270, 92, 20);
  border-radius: 50%;
}

.join_exit h1 {
  padding: 0;
  margin-top: 13%;
  text-align: center;
  color: white;
  font-size: 3vw;
  font-weight: 300;
}

.join_exit a {
  text-decoration: none;
}
 */
>>>>>>> 810585ec3033f2509e86fed8344eed731109470d
