

@media (max-width: 768px){

  input, textarea, button{
    outline:none;
  }

  .m_start_project{
    height: 100vh;
    width: 100vw;
    position: absolute;
    border: 1px solid green;
    overflow-y: scroll;
  }

  .m_start_project h1{
    font-size: 7vw;
    font-weight: 500;
    color: #424242;
    width: 80%;
    margin: 15vw auto 2vw;
  }

  .m_start_project p{
    position: relative;
    color: #424242;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    font-size: 3.8vw;
  }

  .m_form_start_project{
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m_form_start_project input{
  width: 35vw;
  font-size: 5vw;
  background: transparent;
  border: 0;
}

.m_start_project_input_line{
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 15vw;
}

.input_underline_box{
  display: flex;
  flex-direction: column;
  height: auto;
}

.input_underline{
  width: 35vw;
  height: 1vw;
  background: #FF5D00;
  border-radius: 1vw;
}

.m_start_project_description h3{
  color: #424242;
  font-weight: 500;
}

.m_start_project_description{
  position: relative;
}

.m_start_project_description textarea{
  border: 0;
  width: 80vw;
  height: 30vw;
  background: transparent;
  font-size: 4vw;
  color: #424242;
  font-family: Arial, Helvetica, sans-serif;
}

.m_textarea_write_here{
  position: absolute;
  z-index: -1;
  top: 25vw;
  left: 5vw;
  font-size: 15vw;
  color: #CCCCCC;
  transform: rotate(-15deg);
}

.m_button_send{
  font-size: 10vw;
  position: absolute;
  left: 0;
  top: 60vw;
  padding: 0;
  background: transparent;
  border: 0;
  line-height: 7vw;
  padding-right: 1vw;
  border-right: 2vw solid #FF5D00;
}

}