.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgb(227, 93, 20);
  width: 200px;
  height: 100px;
}

.btn, .field {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  top: 80%;
  border: 1px solid rgb(227, 93, 20);
  background: rgb(58, 58, 58);
  color: white;
}