#d_logo{
  position: fixed;
  display: none;
  border-radius: 50%;
  z-index: 1000;
  top: -15vw;
  left: -15vw;
  background: #373737;
}

.d_logo_blank{
  opacity: 0;
  position: relative;
  left: 17.5vw;
  top: 16vw;
  width: 10vw;
  height: 10vw;
}

.d_logo_text{
  opacity: 0;
  position: relative;
  top: 12.3vw;
  width: auto;
  height: 2.8vw;
}

.d_logo_daily_text{
  opacity: 0;
  visibility: hidden;
  width: 0;
  position: relative;
  left: 17vw;
  top: 14vw;
  font-size: 2vw;
  color: #898989;
}

.d_logo_language_selector{
  opacity: 0;
  visibility: hidden;
  width: 0;
  position: relative;
  left: 16vw;
  top: 12.5vw;
  color: white;
  font-size: 1.8vw;
}

.d_logo_daily_selector{
  opacity: 0;
  visibility: hidden;
  position: relative;
  width: 4vw;
  height: 1.2vw;
  left: 26vw;
  top: 9vw;
  background: #898989;
  border-radius: 2vw;
  display: flex;
  align-items: center;
}

.d_logo_daily_selector_point{
  position: relative;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background: #FF5D00;
}

.d_logo_language_selector span{
  margin-right: 0.5vw;
  color: #898989;
}

.d_logo_daily_text span{
  margin-left: 0.5vw;
}

.d_logo_daily_day, .d_logo_daily_night{
  font-size: 3vw;
}

.d_logo_daily_day{
  color: #FF5D00;
}

.d_logo_daily_night{
  position: relative;
  top: 0.5vw;
}