.m_bottom_nav{
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 5;
  background: #E7E7E7;
}

.m_bottom_nav>ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
  padding-left: 2vw;
} 

.m_bottom_nav>ul>li{
  width: auto;
  font-size: 5vw;
  margin-right: 1vw;
  border-bottom: 0.5vh solid transparent;
}

.mobile_nav_active {
  border-color: green;
}