@media (min-width: 768px){
    .post_title_info{
        position: relative;
        left: 20vw;
        top: 2vw;
        color: white;
        display: relative;
        z-index: 5;
    }
     
    .post_title_info h3{
        font-size: 1.5vw;
        font-family: 'helvetica';
        font-weight: 300;
        margin: 0;
    }
     
    .author_info{
        position: relative;
    }
     
    .author_name{
        position: absolute;
        top: 1.2vw;
        left: 3vw;
    }
     
    .author_top_circle{
        position: absolute;
        left: 1.5vw;
        width: 6vw;
        height: 6vw;
        background: #FF5D00;
        border-radius: 50%;
        z-index: 0;
    }
     
    .author_photo_circle{
        position: absolute;
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
        top: 3vw;
        z-index: 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .author_photo_circle img{
        height: 100%;
        width: auto;
    }
     
    .author_right_circle{
        position: absolute;
        top: 4vw;
        left: 5vw;
        width: 3vw;
        height: 3vw;
        background: #898989;
        border-radius: 50%;
        z-index: 2;
    }
     
    .visits_info{
        position: relative;
        top: 4.5vw;
        left: -1vw;
        margin-left: 10vw;
        display: flex;
        align-items: center;
    }
     
    .visits_circle{
        width: 0.5vw;
        height: 0.5vw;
        margin-left: .5vw;
        margin-right: .5vw;
        background: #FF5D00;
        border-radius: 50%;
    }
     
    .number_visitors{
        margin-top: .5vw;
        line-height: 0;
        font-size: 2vw;
    }
     
    .upper_visitors:nth-child(1){
        font-size: 3vw;
    }
    .upper_visitors:nth-child(2){
        font-size: 2.5vw;
    }
     
    .post_actions{
        position: absolute;
        top: 2vw;
        display: flex;
        align-items: center;
        width: auto;
        right: 2vw;
    }
     
    .post_actions img{
        margin-left: 3vw;
    }
     
    .button_comments, .button_repost{
        width: 4vw;
        height: 4vw;
    }
     
    .button_exit{
        width: 5vw;
        height: 5vw;
    }
     
    .d_post{
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .d_post::-webkit-scrollbar { 
        display: none; 
      }
     
    .post_info{
        position: relative;
        left: 2vw;
        width: 50vw;
        color: white;
        top: 15vw;
        padding-left: 1vw;
      }
     
      .post_info h1{
          line-height: 5vw;
          position: relative;
          font-size: 3.5vw;
          font-weight: 300;
          margin: 0;
          margin-left: 2vw;  
          padding-left: 2vw;
          border-left: 1vw solid #FF5D00;
      }
     
      .post_info_date{
            position: absolute;
            top: -4vw;
            left: 14vw;
            color: #636363;
            font-size: 2.5vw;
            font-weight: 900;
      }
     
      .post_picture_box {
          position: absolute;
          right: 2vw;
          top: 15vw;
          color: #696767;
          display: flex;
          flex-direction: column;
          align-items: center;
          overflow: hidden;
      }

      .post_picture_wrap{
          position: relative;
          border-radius: 50%;
          height: 22vw;
          width: 22vw;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
     
      .post_picture{
          position: absolute;
          height: 22vw;
          width: auto;
         }
     
     
     
      .post_picture_box h2{
        font-family: 'helvetica';
        font-weight: 300;
      }
     
      .post_text{
          position: relative;
          left: 5vw;
          width: 65vw;
          height: auto;
          color: white;
      }
     
     
    .post_text img{
        max-width: 100%;
        height: auto;
    }
     
      .post_text p{
          margin: 0;
          line-height: 2.5vw;
          font-weight: 300;
          font-family: 'helvetica';
          position: relative;
          font-size: 1.8vw;
          width: 100%;
          height: auto;
          margin-top: 2vw;
          margin-bottom: 2vw;
      }
    
}
  
@media (max-width: 768px){

    .post_mobile{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .m_post_box{
        position: absolute;
        height: 92vh;
        overflow-y: scroll;
    }

    .post_mobile h1{
        color: #373737;
        font-weight: 500;
        margin: 15vw 5vw 2vw 5vw;
        font-size: 8vw;
    }
    
    .m_post_img{
        width: 100vw;
        height: auto;
    }

    .m_post_info{
        width: 90vw;
        margin: 0 auto;
        position: relative;
        height: 15vw;

        display: flex;
        justify-content: space-between;
    }

    .m_post_author_info_box{
        position: relative;
        height: 15vw;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .m_post_author_name h2{
        margin: 0;
        margin-left: 12vw;
        font-size: 1.2em;
    }

    .m_post_author_circle{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 15vw;
        height: auto;
        border-radius: 50%;
    }
    .m_post_right_circle{
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background: #FF5D00;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 5vw;
    }
    .m_post_bottom_circle{
        position: absolute;
        width: 7vw;
        height: 7vw;
        border-radius: 50%;
        background: #898989;
        z-index: 1;
        left: 15vw;
        bottom: -2.5vw;
    }

    .m_post_likes_box{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .m_post_likes_left_circle{
        border: 1vw solid #FF5D00;
        border-radius: 50%;
        margin-right: 1vw;
    }

    .m_post_likes_box h4{ 
        margin: 0;
        margin-left: 1vw;
        font-weight: 400;
    }

    .hight_digit{
        font-size: 7vw;
    }

    .average_digit{
        font-size: 6vw;
    }

    .post_mobile p{
        position: relative;
        padding: 0;
        color: #373737;
        font-size: 3.8vw;
        width: 90vw;
        margin: 3vw auto;
    }

    .m_post_repost{
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        width: 10vw;
        height: auto;
    }

  }
  