.projects_page { 
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%; 
  height: 100vh;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 500px;
}

.first_project_img, .second_project_img, .third_project_img, .fourt_project_img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 40vw;
  height: 50vh;
}

.first_project_img {
  background-image: url('../media/planet_projects.png')
}

.project_text_body {
  align-self: center;
  float: right;
  width: 23vw;
  height: 30vh;
}

.project_title {
  color: white;
  font-size: 4vw;
  border-bottom: 3px solid rgb(272, 90, 20);
  margin-bottom: 3vh;
}

.project_text {
  font-size: 1.8vw;
  padding-left: 2vw;
  color: white;
}

.project_date {
  float: right;
  font-size: 2vw;
  color: white;
}

.project:nth-child(even){
  padding-left: 30%;
}

.second_project_img {
  margin-left: 5%;
  background-image: url('../media/project_planet2.png');
  width: 35vw;
  height: 45vh;
}

.third_project_img {
  margin-left: 15%;
  background-image: url('../media/project_planet3.png');
  width: 25vw;
  height: 45vh;
}

.fourt_project_img {
  background-image: url('../media/planet_projects.png');
  transform: rotateX(180deg);
}

.circle_container > * {
  z-index: -1;
}

@media (max-width: 768px){

  .m_projects{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .m_projects_header{
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .m_projects_header h3{
    margin:0;
    line-height: 15vw;
    font-size: 14vw;
    text-align: center;
    width: 66vw;
    font-weight: 400;
    color: #868686;
  }

  .m_projects_scroll_bar{
    position: absolute;
    overflow-y: scroll;
    height: 89vh;
    width: 100vw;
    top: 20vw;
  }

  .m_project_box{
    padding-left: 5%;
    padding-right: 5%;
    margin: 0vw auto;
    display: flex;
    flex-direction: column;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  .m_project_box:nth-child(2n){
    background: #D8D8D8;
  }

  .m_project_header{
    display: flex;
    justify-content: space-between;
  }

  .m_project_name h2{
    font-size: 9vw;
    font-weight: 400;
    line-height: 9vw;
  }

  .m_project_name{
    font-family: 'Equinox Normal';
    color: #535353;
  }

  .m_project_date h2{
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 400;
  }

  .m_project_date{
    color: #FF5D00;
  }

  .m_project_bottom p{
    padding: 0; 
    position: relative;
    color: #535353;
    font-size: 4vw;
    margin: 0;
    width: 55%;
  }

  .m_project_info_delemiter{
    margin: 2vw auto;
    width: 95%;
    border: 0.2vw solid #FF5D00;
  }

}