
.c_color{
  color: #FF5D00;
}

.blog_canvas{
  display: flex;
  height: 100vh;
  padding-top: 7vh;
}


.blog_area{
  height: 80vh;
  width: 77vw;
  overflow-y: scroll;
  z-index: 0; 
  padding-right: 4vw;
}

.blog_area::-webkit-scrollbar { 
  display: none; 
}

.post_controller{
  width: 23vw;
  height: 80vh;
  z-index: 1;
  background-color: #292929;
}

.post_delimiter{
  height: 80vh;
  border: .15vw solid #FF5D00;
  border-radius: 4vw;
}

.post{
  overflow: hidden;
  height: 35vh;
  display: flex;
  margin-bottom: 1vw;
}

.subject{
  overflow: hidden;
  width: 47vw;
  overflow: hidden;
  display: flex;
  position: relative;
}

.post_preview{
  width: 30vw;
  height: 100%;
  position: relative;
}

.date{
  font-size: 13vw;
  right: 1vw;
  top: 5vh;
  position: absolute;
  color: transparent;
  font-weight: 600;
  -webkit-text-stroke: .2vw #3A3A3A;
}

.post_title{
  position: absolute;
  left: 30vw;
  color: white;
  line-height: 3vh;
  top: 12vh;
}

.post_title h2{
  font-size: 2.5vw;
  font-weight: 300;
  margin: 0;
}

.post_title h1{
  margin: 0;
  font-weight: 300;
  font-size: 3.5vw;
}

.cover{
  position: absolute;
  background: #1B1B1B;
  opacity: 0.5;
  height: 10vh;
  width: 100%;
  bottom: 0;
}

.short_info{
  color: #CCCCCC;
  position: absolute;
  font-size: 1.2vw;
  padding: 2vh;
  bottom:0;
  width: 80%;
}

.addition{
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10vh;
  overflow-y: hidden;
  font-size: 1.1vw;
}

.likes_circle{
  border: .3vw solid #FF5D00;
  position: absolute;
  top: 2vh;
  left: 1vw;
  width: 0;
  height: 0;
  border-radius: 50%;
}

.number_likes{
  top: 1vh;
  color: white;
  position: absolute;
  left: 2vw;
}

.read_more{
  position: absolute;
  bottom: 1vh;
  color: #FF5D00;
}

.upper_like{
  font-size: 1.3vw;
}

.post_type_selector{
  transform-style: preserve-3d;
  transform: perspective(900px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  font-size: 3vw;
  color: #626262;
  border-bottom: 0.3vw solid #FF5D00;
  border-radius: 13vw/3vw;
}


.active{
  font-size: 4vw;
  color: white;
  margin-left: -1.5vw;
}

.first_type{
  transform-origin: 50% 50%;
  transform: rotate3d(1, 9, 0, -60deg);
  margin-top: -0.4vw;
  margin-left: -1.5vw;
}

.third_type{
  transform-origin: 50% 50%;
  transform: rotate3d(-1, 8, 0, 50deg);
  margin-top: -0.4vw;
}

.post_search{
  border-bottom: 0.3vh solid #FF5D00;
  width: 15vw;
  margin: 5vh auto;
  display: flex;
  justify-content: center;
}

.post_search input{
  border: 0;
  width: 90%;
  background-color: transparent;
  color: white;
  font-size: 1.5vw;
}

.post_search img{
  height: 2vw;
}

.posts_selector{
  width: 15vw;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.5vw;
}

.posts_calendar{
  margin: 5vh auto;
  width: 15vw;
  color: white;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
}

.posts_calendar span{
  width: 100%;
  border-bottom: 0.3vh solid #FF5D00;
}

.posts_calendar h2{
  font-size: 1.5vw;
  font-weight: 300;
  color: #5B5B5B;
}

.posts_selector span{
  width: 100%;
  border-bottom: 0.3vh solid #FF5D00;
}

.posts_selector select{
  outline: 0;
}

.selector_circle{
  position: absolute;
  left: -1vw;
  border: .3vw solid #FF5D00;
  height: 0;
  width: 0;
  border-radius: 50%;
}

.number_posts_selector{
  width: 100%;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number_posts_selector select{
  color: #5B5B5B;
  font-size: 1.5vw;
  padding: 0;
  width: 100%;
  background: transparent;
  border:0;
}

.size_posts_selector{
  width: 100%;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.size_posts_selector select{
  color: #5B5B5B;
  font-size: 1.5vw;
  padding: 0;
  width: 100%;
  background: transparent;
  border:0;
}



@media (max-width: 768px){

  body{
    overflow: scroll;
  }

  .post_mobile{
    color: #636363;
  }

  .post_mobile p{
    position: relative;
    color: #373737;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 5vw;
    font-size: 3.8vw;
    padding:0;
    margin-bottom: 0;
  }

  .m_p_header{
    height: 9vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .m_p_header_scroll{
    background: #E8E8E8;
    box-shadow: 0px 1px 5px black;
  }

  .m_p_date{
    z-index: 2;
    margin-left: 83vw;
    margin-top: 5vw;
    font-size: 6.5vw;
    font-weight: 900;
  }

  .m_p_content{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
  }

  .m_p_title{
    margin: 0;
    font-family: Helvetica;
    font-weight: 500;
    color: #373737;
    font-size: 8vw;
    margin-left: 4vw;
    margin-bottom: 1vh;
  }

  .m_p_image{
    width: 100vw;
  }

  .m_p_main_info{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1vh;
  }

  .m_p_circles{
    display: flex;
    align-items: center;
  }

  .m_p_main_info img{
    width: 18vw;
    height: 18vw;
    z-index: 2;
  } 

  .m_p_right_circle{
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    background: #FF5D00;
    margin-left: -12vw;
  }

  .m_p_bottom_circle{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background: #898989;
    margin-left: -6vw;
    margin-bottom: -9vh;
    z-index: 3;
  }

  .m_p_circles h2{
    font-family: Helvetica;
    color: #373737;
  }

  .m_p_views{
    line-height: auto;
    display: flex;
    align-items: center;
  }

  .m_p_number_views{
    font-weight: 500;
    color: #373737;
    font-size: 5vw;
  }

  .m_p_views_circle{
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    border-radius: 50%;
    background: #FF5D00;
  }

  .m_p_large_digit{
    font-size: 8vw;
  }

  .m_p_average_digit{
    font-size: 6vw;
  }

  .m_p_text {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .m_p_actions{
    margin-top: 1vh;
    display: flex;
    align-items: center;
    width: 30vw;
  }

  .m_p_actions img{
    width: 9vw;
    height: 9vw;
    margin-left: 4vw;
  }

}
