
.services-seo-title {
  border-left: 0.8vw solid #FF5D00;
  position: absolute;
  top: 15vh;
  left: 20vw;
  padding-left: 4vw;
  font-size: 4vw;
  color: white;
  text-align: center;
}

.services-seo-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 30vh;
  right: 2vw;
  position: absolute;
  width: 88vw;
  display: flex;
  align-items: center;
}

.services-seo-text {
  width: 54vw;
  font-size: 2.2vw;
  font-weight: 300;
  color: white;
}

.service_actions{
  position: absolute;
  top: 2vw;
  right: 2vw;
  display: flex;
  align-items: center;
}

.service_actions img{
  width: 5vw;
  height: 5vw;
  margin-left: 3vw;
}

.service_img{
  border: .3vw solid white;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
}