.services_menu{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media (min-width: 768px){

.service_actions{
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 13vw;
  right: 2vw;
  top: 2vw;
  z-index: 10;
}

.button_service_map{
  width: 5.5vw;
  height: 5.5vw;
}

.button_service_exit{
  width: 5vw;
  height: 5vw;
}

.services_menu section{
  width: 95%;
  margin: 0 auto;
}

.services_scroll_bar{
  height: 47vw;
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 2vw;
}


.services_type_strategy{
  position: relative;
  height: 5vw;
  width: 5vw;
}

.services_type_circle{
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background: #FF5D00;
  box-shadow: 0 1vh 0.5vw 0.1vw black;
}

.services_type_strategy h2{
  font-weight: 300;
  z-index: 3;
  left: -10vw;
  top: 1vh;
  width: 26vw;
  color: white;
  position: absolute;
  font-size: 4vw;
  margin: 0;
}

.services_type_vertical_line{
  left: 2.3vw;
  z-index: 1;
  position: absolute;
  height: 13vw;
  width: 0.3vw;
  border-radius: 1vw;
  background: #FF5D00;
}

.services_type_horizontal_line{
  width: 110vw;
  background: #FF5D00;
  height: 0.5vw;
  position: absolute;
  left: -48vw;
  top: 13vw;
  box-shadow: inset 0 0.05vw 0.4vw 0.1vw black;
}

.service_type_scroll_selector{
  position: absolute;
  width: 100vw;
  height: 45vh;
  top: 14.1vw;
  display: flex;
  overflow-x: scroll;
}

.service_type_scroll_selector::-webkit-scrollbar { 
  display: none; 
}

.service_type_jobs{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3.7vw;
  margin-right: 3.7vw;
}

.service_type_jobs_top_circle{
  width: 2vw;
  height: 2vw;
  background: #FF5D00;
  border-radius: 50%;
  box-shadow: inset 0 0.1vw 0.4vw 0vw black;
}

.service_type_jobs_vertical_line{
  height: 4vw;
  margin-bottom: 1vw;
  margin-top: -1vw;
  width: 0.3vw;
  background: #FF5D00;
  border-radius: 5vw;
}

.service_type_jobs_info_circle{
  width: 12vw;
  height: 12vw;
  border: 0.3vw solid #FF5D00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0.4vw 0.5vw 0vw black, 0 0.4vw 0.5vw 0vw black;
}

.service_type_jobs_info_circle h3{
  color: white;
  margin: 0;
  font-weight: 300;
  font-size: 2vw;
}

.service_type_scroll_box{
  position: absolute;
  background: #2D2D2D;
  width: 75vw;
  top: 35vw;
  height: 1vw;
  border-radius: 1vw;
  box-shadow: inset 0 0.1vw 0.4vw -0.05vw black;
}

.service_type_scroll_button{
  width: 10vw;
  height: 100%;
  border-radius: 1vw;
  background: #FF5D00;
}

.service_explore_all_map{
  position: absolute;
  top: 38vw;
  width: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service_explore_all_map img{
  width: 7vw;
  height: auto;
}

.service_explore_all_map h3{
  color: white;
  font-weight: 300;
  margin: 0.5vw 0 0 0;
  font-size: 1.5vw;
}

.service_job_info_box{
  position: relative;
  color: white;
}

.service_job_info h1{
  margin: 5vw 0vw 5vw 15vw;
  border-left: 1vw solid #FF5D00;
  font-size: 4vw;
  padding-left: 5vw;
  font-weight: 300;
  color: white;
}

.service_job_info{
  height: 47vw;
  padding-top: 5vw;
}

.service_job_info_box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service_job_info_box p{
  position: relative;
  font-size: 2vw;
  width: 52%;
  margin-left: 10%;
  padding: 0;
}

.service_job_info_box img{
  width: 25vw;
  height: auto;
  border: 0.3vw solid white;
  border-radius: 50%;
}

}
@media (max-width: 768px){

  .m_service_page{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
  }

  .m_service_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .m_services_map{
    width: 20vw;
    height: auto;
  }

  .m_service_info h1{
    font-size: 12vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #FF5D00;
    margin: 1vh 0 2vh 0 ;
  }

  .m_service_img{
    width: 45vw;
    border: 1vw solid white;
    border-radius: 50%;
  }

  .m_service_info p{
    display: block;
    padding: 0;
    width: 100%;
    position: relative;
    color: #3E3E3E;
    text-align: left;
    font-size: 4.7vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .m_service_info h3{
    color: #CCCCCC;
    margin: 1vh 0 2vh 0;
  }

}